# Aug 5, 2019 3min LSTM for Regression 
* reference: https://github.com/jskDr/keraspp/blob/master/ex5_2_lstm_airplane.py
* data : https://github.com/gcarq/keras-timeseries-prediction/blob/master/international-airline-passengers.csv
* file from google drive to colab [link]( https://leebaro.tistory.com/entry/google-Colaboratory-%EC%97%90%EC%84%9C-%EA%B5%AC%EA%B8%80-%EB%93%9C%EB%9D%BC%EC%9D%B4%EB%B8%8C%EC%97%90-%EC%9E%88%EB%8A%94-%ED%8C%8C%EC%9D%BC-%EC%89%BD%EC%9D%B4%EC%9A%A9%ED%95%98%EA%B8%B0)


Give up to run code, code is too much nasty rather than running for LSTM itself.

# Data with Google Drive

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
!pwd

/content

In [4]:
!ls

gdrive	sample_data

In [0]:
import pandas as pd 
df=pd.read_csv('/content/gdrive/My Drive/Colab File/airline.csv')

In [28]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df.head(3)

    month  passengers
0  Jan-49         112
1  Feb-49         118
2  Mar-49         132

# Importing packages

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import model_selection
from keras import models, layers
import seaborn as sns

Using TensorFlow backend.

# Run code

In [0]:
def main():
  machine = Machine()
  machine.run(epochs=100)

# Learning and Evaluation

In [0]:
class Machine():
  
  def __init__(self):
    
    self.data = Dataset()
    shape = self.data.X.shape[1:]
    self.model = lstm_model(shape)
    
  def run(self, epochs=100):
    
    d = self.data
    X_train, X_test = d.X_train, d.X_test
    y_train, y_test = d.y_train, d.y_test
    X, y = d.X, d.y
    m = self.model
    history = m.fit(X_train, y_train, epochs = epochs, validation_data =[X_test, y_test], verbose=0)
    
    plt.plot(history.history['loss'])
    plt.plot(history.history['val_loss'])
    plt.title('Model Loss')
    plt.ylabel('Loss')
    plt.xlabel('Epoch')
    plt.legend(['Train','Test'], loc=0)
    plt.title('History of training')
    plt.show()
    
    yp = m.predict(X_test)
    print('loss', m.evaluate(X_test, y_test))
    plt.plot(yp, label ='prediction')
    plt.plot(y_test, label ='raw')
    plt.legend(loc=0)
    plt.title('Validation result')
    plt.show()

# LSTM Model

In [0]:
def lstm_model(shape):
  m_x = layers.Input(shape=shape) # X.shape[1:]
  m_h = layers.LSTM(10)(m_x)
  m_y = lyaers.Dense(1)(m_x, m_y)
  m = models.Model(m_x, m_y)
  
  m.compile('adam', 'mean_squared_error')

  m.summary()
  return(m)

# Load Data set

In [0]:
class Dataset:
  
  def __init__(self,fname =df,)